dev/
docs/
# dependencies
/node_modules


# testing
tests/
# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store


# debug

.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.env.local
.env.prod
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
